.menuPageWrapper{
    display: grid;
    grid-template-columns: 220px 1fr;
    height:100%;
    min-height: 77vh;
    .menuSection{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        background-color: #c7c7c7;
        padding-top:3%;
        >div{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .dishWrapper{ 
            background-color: #949ea5;
            margin: 5px;
            width: 220px;
            position:relative;
            box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
            text-align: center;
            max-height: 207px;  
            
            .lowHeader{
                background-color:#eee;
                display: grid;
                grid-template-columns: 80% 20%;
                background-color:#eeeeee5c;
                font-family: 'Livvic', sans-serif;
                font-size: 14px;
            }
            img{
                border-radius: 6px;
                box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
                height: 150px;
                cursor: pointer;
                width: 100%;

            }
            .currentDish{
                background-color: #333333c7;
                position: absolute;
                height: 100%;
                color: #fff;
                animation: fadeIn 0.6s;
                width: 100%;
                display: grid;
                align-items: center;
                @keyframes fadeIn {
                    from {
                      opacity: 0;
                    }
                  
                    to {
                      opacity: 1;
                    }
                  }
            }
        }
        .drinksArea{
            .drinksSection{        
                display: flex;
                flex-wrap: wrap;  
                .drinksWrapper{
                    background-color: #949ea5;
                    margin: 5px;
                    width: 220px;
                    position:relative;
                    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
                    text-align: center;
                    max-height: 207px;  
                    
                    .lowHeader{
                        background-color:#eee;
                        display: grid;
                        grid-template-columns: 73% 27%;
                        background-color:#eeeeee5c;
                        font-family: 'Livvic', sans-serif;
                        font-size: 13px;
                    }
                    img{
                        border-radius: 6px;
                        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
                        height: 150px;
                        cursor: pointer;
                        width: 100%;
        
                    }
                    .currentDrink{
                        background-color: #333333c7;
                        position: absolute;
                        height: 100%;
                        color: #fff;
                        animation: fadeIn 0.6s;
                        width: 100%;
                        display: grid;
                        align-items: center;
                        @keyframes fadeIn {
                            from {
                              opacity: 0;
                            }
                          
                            to {
                              opacity: 1;
                            }
                          }
                    }
                }
                .drinksOptionsWrapper{
                    max-height: 50vh;
                    margin: 1%;
                    border-radius: 6px;
                    width: 13vw;
                    text-align: center;
                    background-color: #333;
                    color: #fff;
                    padding: 1%;
    
                    .drinkKind{
                        img{
                            height: 150px;
                            width:75%;
                            cursor: pointer;
                            &:hover{
                                transform: scale(1.1);
                                transition: transform 0.6s;
                            }
                        }
                    }
                }
            }
        }
    }
}