<div class="headerWrapper">
    <img src="../../assets/images/logo.png" />
    <div class="socialIcons">
            <a target="_blank" title="follow me on facebook" href="https://www.facebook.com/MikesPlaceHerzliya/">
                <img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png"></a>
            <a target="_blank" title="follow me on instagram" href="https://www.instagram.com/mikesplacetlv/">
                <img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png"></a>
            <a target="_blank" title="follow me on Twitter" href="https://twitter.com/MikesPlaceBars">
                <img alt="follow me on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png"></a>
        </div> 
</div>